<img style="visibility: hidden; position: absolute;" src="" id="targetImg"/>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>


<section class="section1">
  <div class="upperPanel">
    <!-- clock component  -->
    <div id="clockdate">
      <div class="clockdate-wrapper">
        <div id="clock">
          <p>{{hours}}:{{minutes}}:{{seconds}}</p>
          <span>{{day}}</span>
        </div>
        <div id="date">
          <p>{{date}}</p>
        </div>
      </div>
    </div>
    <!-- weather component  -->
    <div class="weather">
      <div class="weather-day" *ngIf="daytime; else nightime" [ngSwitch]="weatherCondition">
        <!-- left: displaying images of weather status: hot, raining, cloudy  -->
        <img *ngSwitchCase="'Clear'" src="../../../assets/weather/day/clear.png" alt="clear">
        <img *ngSwitchCase="'Thunderstorm'" src="../../../assets/weather/day/thunderstorm.png" alt="thunderstorm">
        <img *ngSwitchCase="'Drizzle'" src="../../../assets/weather/day/drizzle.png" alt="drizzle">
        <img *ngSwitchCase="'Rain'" src="../../../assets/weather/day/rain.png" alt="rain">
        <img *ngSwitchCase="'Clouds'" src="../../../assets/weather/day/clouds.png" alt="clouds">
      </div>
      <ng-template #nightime>
        <div class="weather-night" [ngSwitch]="weatherCondition">
          <img *ngSwitchCase="'Clear'" src="../../../assets/weather/night/" alt="clear">
          <img *ngSwitchCase="'Thunderstorm'" src="../../../assets/weather/night/thunderstorm.png" alt="thunderstorm">
          <img *ngSwitchCase="'Drizzle'" src="../../../assets/weather/night/drizzle.png" alt="drizzle">
          <img *ngSwitchCase="'Rain'" src="../../../assets/weather/night/rain.png" alt="rain">
          <img *ngSwitchCase="'Clouds'" src="../../../assets/weather/night/clouds.png" alt="clouds">
        </div>
      </ng-template>
      <div class="weather-right">
        <!-- right: display weather details like temp, humidity, wind  -->
        <h2>{{location}}
          <lord-icon class="refreshBtn" (click)="refresh()" src="https://cdn.lordicon.com/sihdhmit.json" trigger="click"
            colors="primary:#e4e4e4" style="width:24px;height:24px">
          </lord-icon>
        </h2>
        <div class="weather-desc">
          <div class="weather-right-upper">
            <div class="weather-data first">
              <img src="../../../assets/weather/temp.png" alt="temperature">
              <p>Temperature: {{temp}}&#8451;</p>
            </div>
            <div class="weather-data">
              <img src="../../../assets/weather/feels.png" alt="feels">
              <p>Feels like: {{feels}}&#8451;</p>
            </div>
          </div>
          <div class="weather-right-lower">
            <div class="weather-data first">
              <img src="../../../assets/weather/humidity.png" alt="humidity">
              <p>Humidity: {{humidity}}%</p>
            </div>
            <div class="weather-data">
              <img src="../../../assets/weather/wind.png" alt="wind">
              <p>Wind speed: {{windSpeed}}km/h</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="panel3">
    <!-- <div class="panel3-container"> -->
    <!-- temperature status (cool/hot) -->
    <div class="component">
      <h3>Temp Status</h3>
      <div class="status active" id="status1">
        <img id="tempImg" src="../../../assets/dashboard/cool.png" alt="cool">
        <p>{{tempSensor}}</p>
      </div>
    </div>
    <!-- humidity status (normal/very humid) -->
    <div class="component">
      <h3>Humidity Status</h3>
      <div class="status active" id="status2">
        <img id="humidityImg" src="../../../assets/dashboard/normal-humid.png" alt="cool">
        <p>{{humidSensor}}%</p>
      </div>
    </div>
    <!-- parking lot status (x/y) -->
    <div class="component">
      <h3>Parking lot status</h3>
      <div class="status active" id="status3">
        <img id="parkingImg" src="../../../assets/dashboard/park.png" alt="parking">
        <p>{{parkingOccupied}}/150</p>
      </div>
    </div>
    <!-- lamp post status (active/inactive) -->
    <div class="component">
      <h3>Lamp post Status</h3>
      <div class="status active" id="status4">
        <img id="lamppostImg" src="../../../assets/dashboard/empty.png" alt="cool">
        <p>{{lightSensorStatus}}</p>
      </div>
    </div>
    <!-- doorbell status (active/inactive) -->
    <div class="component">
      <h3>Doorbell Status</h3>

      <div class="status active" id="status5">
        <img class="doorbell" id="doorbellImg" src="../../../assets/dashboard/inactive-bell.png" alt="doorbell">
        <p>{{doorbellSensorStatus}}</p>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <div class="panel2">
    <div class="panel2-left component">
      <div class="dropdown">
        <p-dropdown styleClass="test" [panelStyle]="optionsPanel" header="Custom Header" [style]="style"
          [options]="floorName" [(ngModel)]="selectedFloor" optionLabel="name" [filter]="true" filterBy="name"
          placeholder="B2" (onChange)="onChange($event)">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="selectedFloor">
              <div>{{selectedFloor.name}}</div>
            </div>
          </ng-template>
          <ng-template let-floor pTemplate="item">
            <div>
              <div>{{floor.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="chart-container" id="chartID">
        <canvas id="MyChart1">{{ chart }}</canvas>
      </div>
    </div>
    <div class="panel2-right component">
      <div class="chart-container-doughnut">
        <canvas id="MyDoughnutChart1">{{ doughnutChart1 }}</canvas>
      </div>
    </div>
  </div>
</section>
