<!-- primeng overlay panel for notifications -->
<p-overlayPanel #notifications [showCloseIcon]="true" [styleClass]="overlayPanelWide">
  <ng-template pTemplate>
    <div>
      <h6 class="" translate="">Notifications</h6>
      <div class=""></div>
      <a class="">
        <div class="">
          <div class="preview-icon bg-dark rounded-circle">
            <i class="mdi mdi-calendar text-success"></i>
          </div>
        </div>
        <div class="preview-item-content">
          <p class="preview-subject mb-1" translate="">Event today</p>
          <p class="text-muted ellipsis mb-0" translate="">Just a reminder that you have an event today</p>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
          <div class="preview-icon bg-dark rounded-circle">
            <i class="mdi mdi-settings text-danger"></i>
          </div>
        </div>
        <div class="preview-item-content">
          <p class="preview-subject mb-1" translate="">Settings</p>
          <p class="text-muted ellipsis mb-0" translate="">Update dashboard</p>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
          <div class="preview-icon bg-dark rounded-circle">
            <i class="mdi mdi-link-variant text-warning"></i>
          </div>
        </div>
        <div class="preview-item-content">
          <p class="preview-subject mb-1" translate="">Launch Admin</p>
          <p class="text-muted ellipsis mb-0" translate="">New admin wow!</p>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      <p class="p-3 mb-0 text-center" translate="">See all notifications</p>
    </div>
  </ng-template>
</p-overlayPanel>

<!-- primeng overlay panel for acoount options -->
<p-overlayPanel #account [showCloseIcon]="true" [style]="{width: '350px'}">
  <ng-template pTemplate>
    <div aria-labelledby="profileDropdown" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
      ngbdropdownmenu="">
      <h6 class="p-3 mb-0" translate="">Profile</h6>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
          <div class="preview-icon bg-dark rounded-circle">
            <i class="mdi mdi-settings text-success"></i>
          </div>
        </div>
        <div class="preview-item-content">
          <p class="preview-subject mb-1" translate="">Settings</p>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
          <div class="preview-icon bg-dark rounded-circle">
            <i class="mdi mdi-logout text-danger"></i>
          </div>
        </div>
        <div class="preview-item-content">
          <p class="preview-subject mb-1" translate="">Log out</p>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      <p class="p-3 mb-0 text-center" translate="">Advanced settings</p>
    </div>
  </ng-template>
</p-overlayPanel>

<div class="overlay" *ngIf="requestInProgress">
</div>

<nav class="navbar" [class.nav-slide]="sidebarShow">
  <div class="header-component">
    <a class="logo-name" href="index.html">myofficeapp</a>
    <!-- <span class="material-icons mat-light burgermenu" (click)="showSideBar()">menu</span> -->
  </div>
  <div class="navbar-right">
    <!-- <a *ngIf="daytime; else nightime" class="dayNight"><img src="../../../assets/navbar/morning.png" alt="day"></a>
    <ng-template #nightime>
      <a class="dayNight"><img src="../../../assets/navbar/night.png" alt="day"></a>
    </ng-template> -->
    <a class="component-bkg" pTooltip="Notifications" tooltipPosition="bottom" (click)="notifications.toggle($event)">
      <mat-icon aria-label="Example home icon" class="mat-light">notifications</mat-icon>
    </a>
    <a class="component-bkg header-component">
      <div class="navbar-profile ">
        <div [hidden]="!loggedIn" class="">
          <img alt="" class="img-xs rounded-circle" src="../../../assets/d-user.png">
          <p class="" translate="">Admin</p>
        </div>
        <span class="material-icons mat-light" pTooltip="Account" tooltipPosition="bottom"
          (click)="account.toggle($event)" [hidden]="loggedIn">
          person
        </span>
      </div>
    </a>
  </div>
</nav>



<div class="section">
  <!-- default sidebar  -->
  <div class="default-sidebar">
    <div class="vertical-navbar">
      <!-- default user img  -->
      <div class="staffImg">
        <img src="../../../assets/d-user.png" alt="default-user">
      </div>
      <!-- dashboard  -->
      <div class="icon-vertical v-nav-active" pTooltip="Dashboard" tooltipPosition="right"
        (click)="updatePage('dashboard')" id="dashboard">
        <div class="inner-icon-container">
          <img src="../../../assets/navbar/dashboard.png" alt="dashboard">
        </div>
      </div>
      <!-- ventilation  -->
      <div class="icon-vertical" pTooltip="Ventilation" tooltipPosition="right" (click)="updatePage('ventilation')"
        id="ventilation">
        <div class="inner-icon-container">
          <img src="../../../assets/navbar/ventilation.png" alt="ventilation">
        </div>
      </div>
      <!-- parking  -->
      <div class="icon-vertical" pTooltip="Parking" tooltipPosition="right" (click)="updatePage('parking')"
        id="parking">
        <div class="inner-icon-container">
          <img src="../../../assets/navbar/parking.png" alt="parking">
        </div>
      </div>
      <!-- lighting  -->
      <div class="icon-vertical" pTooltip="Lighting Grid" tooltipPosition="right" (click)="updatePage('lighting')"
        id="lighting">
        <div class="inner-icon-container">
          <img src="../../../assets/navbar/lighting.png" alt="lighting">
        </div>
      </div>
      <!-- attendance  -->
      <div class="icon-vertical" pTooltip="Attendance" tooltipPosition="right" (click)="updatePage('attendance')"
        id="attendance">
        <div class="inner-icon-container">
          <img src="../../../assets/navbar/attendance.png" alt="attendance">
        </div>
      </div>
      <!-- doorbell  -->
      <div class="icon-vertical" pTooltip="Doorbell" tooltipPosition="right" (click)="updatePage('doorbell')"
        id="doorbell">
        <div class="inner-icon-container">
          <img src="../../../assets/navbar/doorbell.png" alt="doorbell">
        </div>
      </div>
      <!-- report  -->
      <div class="icon-vertical" pTooltip="Report" tooltipPosition="right" (click)="updatePage('report')" id="report">
        <div class="inner-icon-container">
          <img src="../../../assets/navbar/report.png" alt="report">
        </div>
      </div>
    </div>
  </div>
  <div [ngSwitch]="page" class="main">
    <div *ngSwitchCase="'dashboard'">
      <!-- <button class="sidebar-open btnsidebar" (click)="sidebarShow = !sidebarShow">
      Open Sidebar
    </button> -->
      <app-dashboard></app-dashboard>
    </div>
    <div class="ventilation" *ngSwitchCase="'ventilation'">
      <app-temp-nvent></app-temp-nvent>
    </div>
    <div *ngSwitchCase="'parking'">
      <app-parking></app-parking>
    </div>
    <div *ngSwitchCase="'lighting'">
      <app-lighting></app-lighting>
    </div>
    <div *ngSwitchCase="'attendance'">
      <app-attendance></app-attendance>
    </div>
    <div *ngSwitchCase="'doorbell'">
      <app-doorbell></app-doorbell>
    </div>
    <div *ngSwitchCase="'report'">
      <app-report></app-report>
    </div>
  </div>





</div>
