@import "../../../styles.scss";

.section {
  @include section;
}

.component {
  @include component;
}

.tab-container {

  h2 {
    font-size: x-large;
    font-weight: 700;

  }
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link,
:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: #191c24;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav {
  background-color: #000;
}

.table-header {
  text-align: center;
  color: #fd821a;
  font-weight: 600;
  font-size: large;
  word-spacing: 0.09cm;
}

.table {
  color: $inactive-font-color;
  text-align: center;

  .header {
    color: #f6f6f6;
    font-weight: 500;
    font-size: larger;
  }

  .floorNum {
    font-weight: 500;
  }

  td {
    max-width: 200px;
  }
}

.summary {
  margin-top: 20px;
  text-decoration: underline;
  font-size: larger;
}

//* chart
.chart-container {
  margin-top: 25px;
  background-color: #12151E;
  width: 450px;
  padding: 15px 20px;
  border-radius: 5px;

  #{&}-doughnut {
    background-color: #12151E;
    width: 350px;
    padding: 15px 20px;
    border-radius: 5px;
  }
}

.storage-img {
  width: 100px;
  height: 100px;
}

.file-link {
  overflow-wrap: break-word;
}
