@import "../../../styles.scss";

.section {
  @include section;
}

.component {
  @include component;
}

.tab-container {

  h2 {
    font-size: x-large;
    font-weight: 700;

  }
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link,
:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: #191c24;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav {
  background-color: #000;
}

.vacant {
  background-color: aquamarine;
  border-radius: 5px;
}

.occupied {
  background-color: red;
  border-radius: 5px;
}

.carpark {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;

  #{&}-container {
    margin-left: 5px;
    margin-right: 5px;
  }

  p {
    width: 32px;
    height: 32px;
  }
}
