@import "../../../styles.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.section2 {
  @include section;
}

.component {
  @include component;
}

.table-header {
  text-align: center;
  color: #fd821a;
  font-weight: 600;
  font-size: large;
  word-spacing: 0.09cm;
}

.table {
  color: $inactive-font-color;

  text-align: center;

  .header {
    color: #f6f6f6;
    font-weight: 500;
    font-size: larger;
  }

  .floorNum {
    font-weight: 500;
  }
}

// .panel2 {
//   margin-top: 25px;
//   display: flex;
//   align-items: stretch;
//   @include flexCenter(column);

//   #{&}-1 {
//     flex-grow: 1;
//     @include flexCenter(row);
//     justify-content: space-around !important;

//     div {
//       flex-grow: 1;
//     }
//   }
// }

//* panel2
.panel2 {
  margin-top: 25px;
  display: flex;
  align-items: stretch;
  // @include flexCenter(row);
  // justify-content: space-around !important;


  #{&}-left,
  #{&}-right {
    height: 340px;
    margin: 0 20px;
    flex-grow: 1;
    @include flexCenter(column);
    justify-content: space-around !important;
  }

  h2 {
    text-align: center;

  }
}

//* chart
.chart-container {
  background-color: #12151E;
  width: 400px;
  // height: 200px;
  padding: 15px 20px;
  border-radius: 5px;

  #{&}-doughnut {
    background-color: #12151E;
    width: 350px;
    padding: 15px 20px;
    border-radius: 5px;
  }
}

canvas {
  height: 200px;
}
