<div class="section2">
  <h2>OFFICE UTILITIES - Temperature, Ventilation & Lights</h2>

  <!-- temperature status on each floor 
        first two floors are parking floors, no aircon but have ventilation  -->
  <div class="component">
    <h3 class="table-header">Summary of average temperature, humidity and lightbulbs</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="header">Floor</th>
          <th scope="col" class="header">Temperature</th>
          <th scope="col" class="header">Humidity</th>
          <th scope="col" class="header">Aircond + Status</th>
          <th scope="col" class="header">Ventilation + Status</th>
          <th scope="col" class="header">Lightbulbs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let floor of floorDet; index as i">
          <th class="floorNum" scope="row">{{ floor.name }}</th>
          <td>{{floor.avgTemp}}</td>
          <td>{{floor.avgHumidity}}</td>
          <td>{{floor.aircondStatus}}</td>
          <td>{{floor.ventilationStatus}}</td>
          <td>{{floor.numLightbulbs}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel2">
    <div class="panel2-left">
      <div class="component">
        <h2>B2</h2>
        <div class="chart-container">
          <canvas id="b2chart">{{ b2chart }}</canvas>
        </div>
      </div>
    </div>
    <div class="panel2-right">
      <div class="component">
        <h2>B1</h2>
        <div class="chart-container">
          <canvas id="b1chart">{{ b1chart }}</canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="panel2">
    <div class="panel2-left">
      <div class="component">
        <h2>G</h2>
        <div class="chart-container">
          <canvas id="gchart">{{ gchart }}</canvas>
        </div>
      </div>
    </div>
    <div class="panel2-right">
      <div class="component">
        <h2>L1</h2>
        <div class="chart-container">
          <canvas id="l1chart">{{ l1chart }}</canvas>
        </div>
      </div>
    </div>
  </div>

</div>
